:root {
    --main-color: #000000;
    --main-background: #E5E5E5;
    --text-color: var(--main-color);
    --text-night-color: #FFFFFF;
    --area-background: #FFFFFF;
}

* {
    box-sizing: border-box;
}

html, body, ul, li, h1 {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

html {
    font-family: 'Open Sans', 'Arial', sans-serif;
}

body {
    height: 100vh;
    color: var(--text-color);
    background-color: var(--main-background);
}

.container {
    display: flex;
    height: 100%;
}

.world_clock {
    margin: auto;
    width: 540px;
    max-width: 100%;
    padding: 50px 0;
}

header {
    border-top: 10px solid var(--main-color);
    border-bottom: 10px solid var(--main-color);
    margin-bottom: 28px;
}

header h1 {
    font-size: 72px;
    line-height: calc(98px - 15px);
    font-weight: 800;
    text-transform: uppercase;
}

.area {
    border-color: var(--main-color);
    border-style: solid;
    border-width: 3px;
    border-bottom-width: 0px;
    background-color: var(--area-background);

    padding: 13.5px 37px;
    display: flex;
    font-weight: 700;
}

.area:last-child {
    border-bottom-width: 2px;
    padding-bottom: 11.5px;
}

.area.night {
    background-color: var(--main-color);
    color: var(--text-night-color);
}

.info {
    flex: 1 1 auto;
    overflow: hidden;
    padding-right: 20px;
}
.info .name {
    font-size: 36px;
    text-transform: uppercase;
    
}
.info .date {
    font-size: 16px;
    font-style: italic;
}

.time {
    flex: 0 0 185px;
    font-size: 72px;
    margin-top: -12px;
    margin-bottom: -12px;
    text-align: center;
}


.backtoList {
    position: fixed;
    bottom: 35px;
    border: 2px solid rgba(0, 142, 128, 1);
    background-color:rgba(0, 142, 128, 0.87);
}

.backtoList .content {
    display: block;
    padding: 10px 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.backtoList .content::before {
    content: '⇦'
}