* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 600;
    src: url("./fonts/HelveticaNeu-Bold.ttf");
}

@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/HelveticaNeue-Roman.otf");
}


html, body, ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

html {
    background-color: #F0F0F0;
}

body {
    font-family: 'Helvetica Neue', Arial, 'PingFang TC', 'Microsoft JhengHei', sans-serif;
    color: #2EB738;
}

.container {
    margin: 0 auto;
    padding: 80px 85px;
    width: 100%;
    max-width: 1280px;
}

.lattice {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -30px;
}

.col {
    flex: 0 0 350px;
    width: 350px;
    height: 366px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.header {
    padding: 0 33px;
}

.header hr {
    border-top: 1px solid #2EB738;
    margin: 0;
    position: relative;
    overflow: visible;
}

.header hr::after,
.header hr::before {
    content: '×';
    font-size: 24px;
    line-height: 24px;
    display: block;
    position: absolute;
    top: -15px;
}

.header hr::after {
    left: calc(100% + 21px);
}

.header hr::before {
    right: calc(100% + 21px);
}

.header-content {
    text-align: center;
    height: calc(100% - 2px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-content h1,
.header-content p {
    margin: 0;
}

.header-content h1{
    font-size: 56px;
}

.header-content p {
    font-size: 24px;
}


.grid {
    padding: 64px 40px;
    width: 100%;
    height: 100%;
}

.grid-bg {
    background: #FFFFFF;
    border-radius: 100px 0 30px 0;
    box-shadow: 0 3px 10px #D8D8D8;
}

.grid .content {
    display: flex; 
    flex-flow: column wrap;
    align-items: stretch;
    width: calc(100% + 45px);
    height: calc(100% + 8px);
    margin-bottom: -50px;
}

.grid .title {
    font-size: 128px;
    line-height: 153px;
    margin-top: -30px;
    padding-right: 30px;
    font-weight: bold;
    text-align: center;
    text-shadow: 4px 3px 0 #F0F0F0;
}

.grid .val {
    font-size: 24px;
    flex: 0 0 auto;
    margin-bottom: 8px;
    margin-right: 15px;
    line-height: 33px;
}

.footer {
    text-align: right;
    background-color: #2EB738;
    color: #F0F0F0;
    font-size: 16px;
}
.footer .container {
    padding: 8px 85px;
}

.backtoList {
    position: fixed;
    bottom: 35px;
    border: 2px solid rgba(0, 142, 128, 1);
    background-color:rgba(0, 142, 128, 0.87);
}

.backtoList .content {
    display: block;
    padding: 10px 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.backtoList .content::before {
    content: '⇦'
}